/* pages/driver/details/details.wxss */
@import "../../../assets/css/orderList.wxss";
@import "../../../assets/css/details.wxss";
/* 装车弹窗 */

.other-toast {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  overflow: hidden;
}
.other-toast .toast-body {
  width: calc(100% - 120rpx);
  margin: calc(100% - 480rpx) auto 0;
  background: #fff;
  height: 420rpx;
  border-radius: 30rpx;
  box-sizing: border-box;
  position: relative;
}
.other-toast .toast-body .body-title {
  height: 100rpx;
  line-height: 100rpx;
  text-align: center;
  box-sizing: border-box;
  color: #707070;
  font-size: 34rpx;
}
.other-toast .toast-body text {
  text-align: center;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding-top: 15px;
  color: #2f88fd;
}
.other-toast .toast-body text.checkFileNamw{
  padding: 15rpx 25rpx 0;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-wrap: break-word;
  word-break: break-all;
  white-space: normal;
  overflow: hidden;
  color: #4d4d4d;
}
.other-toast .toast-body span {
  display: block;
  width: 100%;
  padding: 10px 30rpx 0;
  word-wrap: break-word;
  box-sizing: border-box;
}
.other-toast .toast-body .body-btn {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100rpx;
  display: flex;
}
.other-toast .toast-body .body-btn .btn-item {
  width: 50%;
  text-align: center;
}
.other-toast .toast-body .body-btn .btn-item button {
  background: #dbdada;
  width: 216rpx;
  height: 70rpx;
  padding: 0;
  line-height: 70rpx;
  box-shadow: 0px 8rpx 20rpx 1rpx rgba(0, 0, 0, 0.13);
  border-radius: 35rpx;
  font-weight: 500;
  font-size: 30rpx;
}
.other-toast .toast-body .body-btn .btn-item:first-child button {
  background: linear-gradient(270deg, #327eff 0%, #27abf8 100%);
  box-shadow: 0px 14rpx 20rpx 1rpx rgba(166, 206, 255, 0.5);
  color: #fff;
}
